@font-face {
  font-family: "Ricty Diminished";
  font-style: normal;
  src: url(fonts/RictyDiminished-Regular.ttf);
}

@font-face {
  font-family: "Nerd Font";
  font-style: normal;
  src: url(fonts/NerdFont-Regular.ttf);
}

@font-face {
  font-family: "Ricty Diminished Bold";
  font-style: bold;
  src: url(fonts/RictyDiminished-Bold.ttf);
}

@font-face {
  font-family: "Nerd Font Bold";
  font-style: bold;
  src: url(fonts/NerdFont-Bold.ttf);
}

@font-face {
  font-family: "Ricty Diminished Oblique";
  font-style: oblique;
  src: url(fonts/RictyDiminished-Oblique.ttf);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #383434;
  color: #f9ecec;
  font-family: Ricty Diminished;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ricty Diminished Bold;
}

i {
  font-size: 40px;
  font-style: normal;
  font-family: Nerd Font;
}
