@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
