.animate {
  animation-duration: .5s;
  animation-timing-function: ease-out;

  &.slide-right {
    animation-name: slideRight, fadeIn;
  }

  &.slide-up {
    animation-name: slideUp, fadeIn;
  }

  &.slide-down {
    animation-name: slideDown, fadeIn;
  }

  &.fade-in {
    animation-name: fadeIn;
  }

  &.blink {
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: fadeIn;
  }
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
