$color-light: #ececec;
$color-dark: #28292a;
$color-gray: #767a8e;
$color-blue: #225ec5;
$color-lightblue: #5195c0;
$color-green: #36a26c;
$color-yellow: #c6c55e;
$color-orange: #b07537;
$color-red: #b12828;
$color-pink: #a2315b;
$color-purple: #723eac;

@mixin make-variable($name, $color) {
  --color-#{$name}: #{$color};
  --color-#{$name}-alpha: #{rgba($color, 20%)};
}

:root {
  @include make-variable("gray", $color-gray);
  @include make-variable("blue", $color-blue);
  @include make-variable("lightblue", $color-lightblue);
  @include make-variable("green", $color-green);
  @include make-variable("yellow", $color-yellow);
  @include make-variable("orange", $color-orange);
  @include make-variable("red", $color-red);
  @include make-variable("pink", $color-pink);
  @include make-variable("purple", $color-purple);
}

.theme-dark {
  @include make-variable("fg", $color-light);
  @include make-variable("bg", $color-dark);
  --brightness-light: 1.1;
  --brightness-normal: 1.2;
  --brightness-deep: 1.4;
}

.theme-light {
  @include make-variable("fg", $color-dark);
  @include make-variable("bg", $color-light);
  --brightness-light: 0.97;
  --brightness-normal: 0.95;
  --brightness-deep: 0.93;
}

@mixin make-color($name, $fg, $bg, $alpha) {
  .color-#{$name} {
    color: var(--color-#{$fg});
    @if $bg != null {
      background-color: var(if($alpha, --color-#{$bg}-alpha, --color-#{$bg}));
      border-color: var(--color-#{$bg});
    }
  }
}

@mixin make-color-all($name, $fg, $bg, $alpha) {
  @include make-color($name, $fg, $bg, $alpha);
  @include make-color("#{$name}-fg", $bg, null, false);
}

@include make-color-all("default", "fg", "bg", false);
@include make-color-all("inverse", "bg", "fg", true);
@include make-color-all("gray", "gray", "gray", true);
@include make-color-all("blue", "blue", "blue", true);
@include make-color-all("lightblue", "lightblue", "lightblue", true);
@include make-color-all("green", "green", "green", true);
@include make-color-all("yellow", "yellow", "yellow", true);
@include make-color-all("orange", "orange", "orange", true);
@include make-color-all("red", "red", "red", true);
@include make-color-all("pink", "pink", "pink", true);
@include make-color-all("purple", "purple", "purple", true);

.clickable, .active {
  transition-property: filter, backdrop-filter;
  transition-duration: 100ms;
  cursor: pointer;
}

.clickable:hover {
  filter: brightness(var(--brightness-light));
  backdrop-filter: brightness(var(--brightness-light));
}

.active {
  filter: brightness(var(--brightness-normal));
  backdrop-filter: brightness(var(--brightness-normal));

  &.clickable:hover {
    filter: brightness(var(--brightness-deep));
    backdrop-filter: brightness(var(--brightness-deep));
  }
}
