@font-face {
  font-family: "Regular";
  src: url(fonts/NORMAL-Regular);
}

@font-face {
  font-family: "Bold";
  src: url(fonts/NORMAL-Bold);
}

@font-face {
  font-family: "Editor Regular";
  src: url(fonts/EDITOR-Regular);
}

@font-face {
  font-family: "Editor Bold";
  src: url(fonts/EDITOR-Bold);
}

body {
  font-family: "Regular";
}

.bold {
  font-family: "Bold" !important;
}

.italic {
  font-style: italic !important;
}

.editor {
  font-family: "Editor Regular" !important;
}

.editor-bold {
  font-family: "Editor Bold" !important;
}

.small {
  font-size: 80%;
}
* {
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
}
