@font-face {
  font-family: "Ricty Diminished";
  font-style: normal;
  src: url(fonts/RictyDiminished-Regular.ttf);
}

@font-face {
  font-family: "Nerd Font";
  font-style: normal;
  src: url(fonts/NerdFont-Regular.ttf);
}

@font-face {
  font-family: "Ricty Diminished Bold";
  font-style: normal;
  src: url(fonts/RictyDiminished-Bold.ttf);
}

@font-face {
  font-family: "Nerd Font Bold";
  font-style: normal;
  src: url(fonts/NerdFont-Bold.ttf);
}

@font-face {
  font-family: "Ricty Diminished Oblique";
  font-style: normal;
  src: url(fonts/RictyDiminished-Oblique.ttf);
}

h1, h2, h3, h4, h5, h6, .bold {
  font-family: "Ricty Diminished Bold", "Nerd Font Bold" !important;
}

.italic {
  font-family: "Ricty Diminished Oblique" !important;
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.bold) {
  font-family: "Ricty Diminished", "Nerd Font";
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
}
