@import "animate";
@import "color";
@import "font";
@import "input";
@import "scrollbar";

body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
}

#app > div {
  background: $color-black;
  color: $color-white;
}

span, i {
  display: inline-block;
  vertical-align: middle;
}

.space {
  flex-grow: 1;
}
