@import "animate";
@import "color";
@import "font";
@import "scrollbar";

body {
  margin: 0;
  padding: 0;
  background: $color-black;
  color: $color-white;
  font-family: Ricty Diminished;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ricty Diminished Bold;
}

i {
  font-size: 40px;
  font-style: normal;
  font-family: Nerd Font;
}
