@import "animate";
@import "color";
@import "font";
@import "input";
@import "scrollbar";

body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
}

#app > div {
  background: $color-black;
  color: $color-white;
  font-family: Ricty Diminished;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ricty Diminished Bold;
}
