label {
  display: inline-block;
  margin: 4px;
}

input {
  outline: none;

  &[type=text] {
    width: inherit;
    margin: auto .2em;
    padding: .2em;
    color: inherit;
    background: none;
    border: none;
    border-bottom: solid 2px $color-gray;

    &:focus {
      border-color: $color-blue;
    }

    &:hover {
      border-color: lighten($color-blue, 10%);
    }
  }

  &[type=radio] {
    margin: 0 12px;
    width: 0;

    &:before {
      display: inline-block;
      margin: -4px;
      cursor: pointer;
      content: "祿";
      color: $color-white;
    }

    &:checked:before {
      content: "綠";
      color: $color-blue;
    }

    &:hover:before {
      color: lighten($color-blue, 10%);
    }
  }

  &[type=checkbox] {
    margin: 0 12px;
    width: 0;

    &:before {
      display: inline-block;
      margin: -4px;
      cursor: pointer;
      content: "";
      color: $color-white;
    }

    &:checked:before {
      content: "";
      color: $color-blue;
    }

    &:hover:before {
      color: lighten($color-blue, 10%);
    }
  }

  &[type=range] {
    -webkit-appearance: none;
    background: transparent;
    vertical-align: middle;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      margin-top: -5px;
      border: none;
      border-radius: 6px;
      background: $color-gray;

      &:hover {
        background: $color-blue;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      border: none;
      border-radius: 2px;
      background: $color-white;
      cursor: pointer;

      &:hover {
        background: $color-blue;
      }
    }
  }
}
