::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-fg);
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--color-fg);
  border-radius: 2px;
  background: var(--color-bg);
}
